.SignUpStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-flow: nowrap column;
}

.SignUpStyle form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SignUpStyle p {
    font-weight: 300;
    font-family: LotteMartDream;
    color: #707070;
}

.SignUpStyle img {
    width: 280px;
    object-fit: contain;
    margin-bottom: 30px;
}

.SignUpStyle input[type="text"] {
    font-family: LotteMartDream;
    font-weight: 200;
    padding: 0.7rem 0.7rem;
    font-size: 1.1rem;
    width: 370px;
    margin-bottom: 15px;
}

.SignUpStyle input[type="password"] {
    font-family: LotteMartDream;
    font-weight: 200;
    padding: 0.7rem 0.7rem;
    font-size: 1.1rem;
    width: 370px;
    margin-bottom: 15px;
}

.SignUpStyle input[type="submit"] {
    font-size: 1.1rem;
    padding: 0.8rem;
    font-family: LotteMartHappy;
    font-weight: 800;
    color: white;
    border-radius: 37px;
    width: 270px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    background-color: #22a7f0;
    margin: 0 auto;
}
