div#community_board {
  
  table{
    width: 100%;
    font-size: 14px;
  }
  table > thead > th{
    height: 50px;
    font-size: 16px;
    th{
      border-top: 1px solid #ddd;
    }
  }

  table > tbody > tr:nth-child(1){
    cursor: pointer;
    transition: .1s all;
    text-align: center;
    th,td{
      border-top: 3px solid #ccc;
    }
    &:hover{
      background: #ECF0F1;
    }
  }

  table > tbody > tr:nth-child(odd){
    background: #F5F5F5;
    transition: .1s all;
    cursor: pointer;
    text-align: center;
    td,th{
      padding: 8px;
      font-weight: 500;
    }
    &:hover{
      background: #ECF0F1;
    }
  }
  table > tbody > tr:nth-child(even){
    cursor: pointer;
    transition: .1s all;
    text-align: center;
    td, th{
      padding: 8px;
      font-weight: 500;
    }
    &:hover{
      background: #ECF0F1;
    }
  }

  .btn_new_post {
    font-size: 14px;
    padding: 0.6rem;
    font-family: LotteMartHappy;
    font-weight: 800;
    color: white;
    border-radius: 37px;
    width: 100px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    background-color: #22a7f0;
    margin-top: 20px;
    float: right;
  }
}