div.StudyReference{
    div.RefName{
        width: 500px;
        font-size: 20px;
        margin: 0px;
        height: 30px;
    }

    div.RefWriter{
        width: 500px;
        font-size: 20px;
        margin: 0px;
        height: 60px;
    }
}