#community-post-detail {
  width: 960px;
  margin: 0 auto;
  

  & p {
    margin: 0;
  }

  #title-writer-date {
    display: flex;
    flex-flow: nowrap row;
    font-family: LotteMartDream;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 1;
    }

    .writer {

    }

    .date {
      float: right;
      font-weight: 200;
      margin-left: 30px;
      color: #707070;
    }
  }
  
  #content {
    // display: flex;
    font-family: LotteMartDream;
    font-weight: 300;
    white-space: pre-line;
    margin-top: 20px;
    line-height: 1.4;
  }

  #head-comment {
    font-size: 20px;
    font-family: LotteMartDream;
    font-weight: 600;
    color: #22a7f0;
    margin-top: 20px;
  }

  .comments {
    display: flex;
    flex-flow: nowrap column;
    font-family: LotteMartDream;
    margin-top: 10px;

    .comment {
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
      margin-top: 5px;

      .comment-writer {
      }

      .comment-content {
        margin-left: 10px;
        font-weight: 200;
        

      }

      .comment-date {
        color: #707070;
        font-weight: 200;
      }
    }
  }

  .comment-register {
    // display: flex;

    margin-top: 10px;

    form {
      display: flex;        
      flex-flow: nowrap row;
      width: 100%;
    }

    input[type="text"] {
      padding: 10px;
      font-family: LotteMartDream;
      width: 87%;
      margin-right: 1%;
    }
    input[type="submit"] {
      width: 12%;
      font-size: 14px;
      padding: 0.6rem;
      font-family: LotteMartHappy;
      font-weight: 800;
      color: white;
      border-radius: 37px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border: none;
      outline: none;
      background-color: #22a7f0;
    }
  }



  .btn_file_upload {
    flex: 1;
    font-size: 14px;
    padding: 0.6rem;
    font-family: LotteMartHappy;
    font-weight: 800;
    color: white;
    border-radius: 37px;
    width: 10%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    background-color: #22a7f0;
    // margin: 0 auto;
    float: right;
    margin-top: 10px;
    margin-left: 3%;
  }

  
}