div#StudyRoom{

}

div#StudyName{
    width : 500px;
    height : 80px;
    font-size: 30px;
    color : #f89406;
    line-height: 80px;
    text-align: left;
    margin-bottom: 10px;
}

div#StudyContent{
    width : 1300px;
    height : 800px;
}

div#StudyReference{
    width : 600px;
    height : 800px;
    float : left;
}

div#StudySchedule{
    width : 600px;
    height : 800px;
    float : left;
}

div.Room_Title{
    width : 400px;
    font-size: 30px;
    color : #22a7f0;
    text-align: left;
}

div.Room_Content{
    width : 400px;
    height : 720px;
}

div#btnMeetingRoom {
    /* margin : 0px 30px 0px 50px; */
    display: inline-block;
    width : 150px;
    height : 40px;
    background-color: #f89406;
    border-radius: 37px;
    font-size : 15px;
    color : #ffffff;
    box-shadow: 0 3px 6px 0;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}
div#btnTeamPeopleManage {
    /* margin : 0px 30px 0px 50px; */
    display: inline-block;
    width : 150px;
    height : 40px;
    background-color: #f89406;
    border-radius: 37px;
    font-size : 15px;
    color : #ffffff;
    box-shadow: 0 3px 6px 0;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
}

div#btnShare {
    /* margin : 0px 30px 0px 50px; */
    width : 150px;
    height : 40px;
    background-color: #22a7f0;
    border-radius: 37px;
    font-size : 15px;
    color : #ffffff;
    box-shadow: 0 3px 6px 0;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

div.RefName{
    width : 500px;
    height : 60px;
    color : #000000;
    font-size: 23px;
}

div.RefWriter{
    width : 100px;
    height : 60px;
    color : #707070;
    font-size: 15px;
}

div.ScheName{
    width : 400px;
    height : 60px;
    color : #000000;
    font-size: 23px;
}

div.ScheDate{
    width : 200px;
    height : 60px;
    color : #707070;
    font-size: 15px;
}