div#myLectureCompleted{
    position : absolute;
    top : 30%;
    left : 30%;
    height : auto;
    width : 50%;
}

ul#completedList{
    width : 700px;
    height : auto;
}

li.completedInfo{
    width : 700px;
}

li.completedInfo div{
    box-sizing: border-box;
    float : left;
}

li.completedInfo div.LectureName{
    width : 500px;
    height : 40px;
}

li.completedInfo div.LectureProf{
    width : 100px;
    height : 40px;
}

li.completedInfo div.LectureGrade{
    width : 100px;
    height : 40px;
}

div#SubjectName{
    /*width : 100%;
    height : 80px;*/
    font-size : 30px;
    /*line-height : 80px;*/
    color : #f89406;
    text-align: left;
}