div.icon_menu{
    position : fixed;
    width : 210px;
    height : 100px;
    bottom : 0px;
    right : 20px;
}

div.icon{
    float : left;
    width: 90px;
    height: 90px;
    margin : 5px;
}

.popup{
    position: fixed;
    top: 180px;
    right: 10px;
    height: 600px;
    width: 400px;
    border-style: solid;
    background-color: white;
    z-index: 1000;
}