div#myLectureWait{
    position : absolute;
    top : 30%;
    left : 30%;
    height : auto;
    width : 50%;
}

ul#LectureWaitList{
    width : 700px;
    height : auto;
}

li.LectureWaitInfo{
    width : 700px;
    height: 40px;    
}

li.LectureWaitInfo div{
    float : left;
    box-sizing: border-box;
}

li.LectureWaitInfo div.LectureName{
    width : 400px;
    height : 40px;
    padding-top : 10px;
}

li.LectureWaitInfo div.LectureProf{
    width : 70px;
    height : 40px;
    padding-top : 10px;
}

li.LectureWaitInfo div.LectureQuota{
    width : 70px;
    height : 40px;
    padding-top : 10px;
}

li.LectureWaitInfo div.lectureEnroll{
    width: 8%;
    height: 35px;
    border-radius: 37px;
    box-shadow: 0 3px 6px 0;
    background-color: #22a7f0;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
}