div#ProjectList{
    position: absolute;
    top : 30%;
    left : 30%;
    height : auto;
    width : 50%;
}

div#ProjectRoom{
    width : 100%;
}

div.Project_room_box{
    position: absolute;
    float : left;
    height : 300px;
    width : 300px;
    border-radius: 41px;
    box-shadow: 3px 3px 6px 0;
    background-color: #ffffff;
}

div.Project_box_name{
    position: absolute;
    top : 15px; 
    left: 50%; 
    transform: translateX(-50%);
    font-size:26px;
    width : 250px;
    height : 35px;
}

div.Project_box_button_enter{
    position : absolute;
    width: 100px;
    height : 35px;
    line-height: 35px;
    bottom : 25px;
    left : 20px;
    background-color: #22a7f0;
    box-shadow: 0 3px 6px 0;
    border-radius: 37px;
    right : 10px;
    text-align: center;
    font-size: 13px;
    color : #ffffff;
}

div.Project_box_button_exit{
    position : absolute;
    width: 100px;
    height : 35px;
    line-height: 35px;
    bottom : 25px;
    right : 20px;
    background-color: #707070;
    box-shadow: 0 3px 6px 0;
    border-radius: 37px;
    right : 10px;
    text-align: center;
    font-size: 13px;
    color : #ffffff;
}