header{
    height: 320px;
    width : 100%;
}

div#MyPage{
    position : absolute;
    top : 20px;
    right : 8%;
    font-size : 20px;
}
div.header_my_menu{
    float : left;
    margin : 0 10px;
}

a#main_icon{
    position : absolute;
    top : 50px;
    left : 5%;
    height : auto;
}

div#menu_bar{
    position : absolute;
    top : 50px;
    left : 35%;
    font-size : 50px;

}

div#menu_bar ul{
    list-style-type: none;
}

div#menu_bar li{
    float : left;
    margin : 0px 25px;
}