div.StudyInfo{
    width : 1200px;
    height : 80px;
}

div.StudyInfo div{
    float:left;
    text-align: center;
    line-height: 80px;
}

div.StudySubject{
    width : 300px;
    height : 80px;
}

input#StudySubject{
    width : 250px;
    height : 60px;
    margin : auto;
}

div.BoardName{
    width : 800px;
    height : 80px;
}

input#StudyName{
    width : 700px;
    height : 60px;
    margin : auto;
}

div.StudyMember{
    width : 100px;
    height : 80px;
}

input#StudyMember{
    width : 100px;
    height : 60px;
    margin : auto;
}

div.StudyContent{
    width : 1200px;
    height : 600px;
}

input#StudyContent{
    width : 1180px;
    height : 300px;
    margin : 25px 25px 25px 25px;
}

div.StudyAdd{
    position : fixed;
    bottom : 20%;
    right : 45%;
    width : 150px;
    height : 50px;
    border-radius: 37px;
    box-shadow: 0 3px 6px 0;
    background-color: #22a7f0;
    color : #ffffff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}